      {% extends "base.html" %}

      {% block content %}
        <h1>Le nostre analisi:</h1>
        {% for id in analisi %}
            {% set analisa = analisi[id] %}
            <h2>{{id}}. {{analisa[0]}}</h2>
            <p>
                {{analisa[1]}}
            </p>
        {% endfor %}
        <h3><a href="{{url_for('prenotaAnalisi')}}"
                class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Prenota
                ora!</a></h3>

    {% endblock %}