{% extends "base.html" %}

{% block content %}
    <h1>Benvenuti all'Ospedale Ippolito Pindemonte</h1>
    <p>
      L'Ospedale Ippolito Pindemonte è una struttura sanitaria all'avanguardia dedicata a fornire cure mediche di alta
      qualità e supporto ai pazienti in un ambiente sicuro e accogliente. La nostra missione è quella di promuovere la
      salute e il benessere, nonché di trattare una vasta gamma di condizioni mediche con la massima attenzione e
      professionalità. Ecco una panoramica della nostra struttura:
    </p>
    <h2>1. Dipartimenti Specialistici:</h2>
    <p>
      Presso l'Ospedale Ippolito Pindemonte, contiamo su una vasta gamma di dipartimenti specialistici, tra cui
      cardiologia, chirurgia, ortopedia, pediatria, ginecologia, e molti altri. I nostri medici altamente qualificati
      sono esperti nei rispettivi campi e sono pronti a fornire cure personalizzate e trattamenti avanzati.
    </p>
    <h2>2. Emergenze e Pronto Soccorso:</h2>
    <p>
      Il nostro Pronto Soccorso è aperto 24 ore al giorno, 7 giorni alla settimana, per rispondere prontamente alle
      emergenze mediche. Abbiamo un team dedicato di medici e infermieri per garantire un trattamento tempestivo e
      appropriato.
    </p>
    <h2>3. Servizi di Supporto:</h3>
      <p>
        Oltre alle cure mediche, forniamo servizi di supporto che includono fisioterapia, terapia occupazionale, servizi
        sociali e psicologici per assicurare un approccio olistico al benessere dei pazienti.
      </p>
      <h2>4. Personale Esperto:</h2>
      <p>
        Il nostro personale è altamente qualificato, composto da medici, infermieri, tecnici e professionisti del
        settore sanitario dedicati a offrire un servizio di qualità superiore e compassione.
      </p>
      <div class="immagine mt-5">
        <img src="{{url_for('static',filename='img/IppolitoPindemonte.png')}}">
      </div>
{% endblock %}