      {% extends "base.html" %}

      {% block content %}
        <h1>I nostri medici</h1><br>
        <table class="table text-center tabella table-responsive mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Specializzazione</th>
                    <th scope="col">Foto</th>
                </tr>
            </thead>
            <tbody>
                {% for id in medici %}
                <tr>
                    {% set medico = medici[id] %}
                    <th scope="row">{{id}}</th>
                    <td>
                        {{medico[0]}}
                    </td>
                    <td>
                        {{medico[1]}}
                    </td>
                    <td>
                        <img src="{{url_for('static',filename=medico[2])}}" class="imgTable">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}