      {% extends "base.html" %}

      {% block content %}
        <h1>Prenota le nostre analisi di laboratorio:</h1><br>
        <table class="table text-center tabella table-responsive mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Prenota</th>
                </tr>
            </thead>
            <tbody>
                {% for id in analisi %}
                {% set analisa = analisi[id] %}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>
                        {{analisa[0]}}
                    </td>
                    <td>
                        {{analisa[2]}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">Prenota Ora</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}