      {% extends "base.html" %}

      {% block content %}
        <h1>Prenota le nostre analisi di laboratorio:</h1><br>
        <table class="table text-center tabella table-responsive mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Prenota</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        Emocromo completo
                    </td>
                    <td>
                        Misura delle cellule del sangue per diagnosticare anemie e infezioni.
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">Prenota Ora</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        Analisi delle urine
                    </td>
                    <td>
                        Esame per rilevare infezioni urinarie, calcoli renali e problemi renali o metabolici.
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">Prenota Ora</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>
                        Profilo lipidico
                    </td>
                    <td>
                        Valuta i livelli di colesterolo e trigliceridi per valutare il rischio cardiovascolare.
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">Prenota Ora</button>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endblock %}