      {% extends "base.html" %}

      {% block content %}
        <h1>Le nostre visite:</h1>
        {% for id in visite %}
            {% set visita = visite[id] %}
            <h2>{{id}}. {{visita[0]}}</h2>
            <p>
                {{visita[1]}}
            </p>
        {% endfor %}
        <h3><a href="{{url_for('prenotaVisite')}}"
            class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Prenota
            ora!</a></h3>
    {% endblock %}