      {% extends "base.html" %}

      {% block content %}
        <h1>Le nostre visite:</h1>
        <h2>1. Cardiologia</h2>
        <p>
            Una visita specialistica in cardiologia è un appuntamento medico finalizzato alla valutazione della salute
            cardiaca di un paziente. Comprende la registrazione dei parametri vitali, un colloquio dettagliato sulla
            storia medica e uno specifico esame fisico concentrato sul cuore. Possono essere eseguiti test diagnostici
            come l'elettrocardiogramma e, se necessario, ulteriori indagini come l'ecocardiogramma. Il medico discuterà
            quindi dei risultati, fornirà una diagnosi preliminare e proporrà eventuali piani di trattamento o
            follow-up. La comunicazione aperta e la condivisione completa delle informazioni sono cruciali durante la
            visita.
        </p>
        <h2>2. Chirurgia ortopedica</h2>
        <p>
            Una visita specialistica in chirurgia ortopedica è un appuntamento medico finalizzato all'esame e alla
            valutazione di problemi muscolo-scheletrici. Durante la visita, il paziente può sottoporsi a un esame fisico
            mirato alla zona interessata, potrebbero essere richieste radiografie o altri esami di imaging per una
            diagnosi più precisa. Il chirurgo ortopedico discuterà dei sintomi, della storia medica e delle opzioni di
            trattamento disponibili. La visita potrebbe concludersi con la raccomandazione di terapie conservative,
            interventi chirurgici o terapie fisiche, a seconda della gravità del problema. La comunicazione aperta e la
            comprensione del piano di trattamento proposto sono essenziali per il paziente durante questa visita.
        </p>
        <h2>3. Psichiatria</h2>
        <p>
            Una visita specialistica in psichiatria è un appuntamento medico finalizzato alla valutazione e al
            trattamento dei disturbi mentali e delle condizioni psicologiche. Durante la visita, il paziente avrà un
            colloquio approfondito con il medico psichiatra, in cui verranno discussi sintomi, storia medica e eventuali
            fattori di stress. Il medico potrebbe esplorare l'umore, i pensieri, i comportamenti e le relazioni sociali
            del paziente. A seconda della situazione, potrebbero essere prescritti farmaci psicotropi o consigliate
            terapie psicologiche come la terapia cognitivo-comportamentale. La visita può servire anche a stabilire un
            piano di trattamento a lungo termine e a pianificare eventuali follow-up. La comunicazione aperta e la
            collaborazione tra il paziente e il medico sono fondamentali per il successo del trattamento.
        </p>
        <h3><a href="{{url_for('prenotaVisite')}}"
            class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Prenota
            ora!</a></h3>
    {% endblock %}